.cta__inner {
  background-color: #fff;
  box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
  padding: 4rem 0;
  border-radius: 20px;
  text-align: center;
  transform: translateY(100px);
}

.cta__button {
  background-color: $pink;
  color: #fff;
  padding: 18px 80px;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 30px;
  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
  }
}
