footer {
  background-color: $very-dark-cyan;
  padding: 8rem 0 2rem;

  p,
  a {
    color: $very-pale-cyan;
  }
  a {
    &:hover {
      color: $very-pale-cyan;
      text-decoration: none;
    }
  }
}

.footer__menu {
  list-style: none;
  padding: 0;
}
