.hero {
  background-image: url('./images/bg-hero-mobile.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url('./images/bg-hero-desktop.svg');
  }
}
