img {
  max-width: 100%;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.hero {
  background-image: url("./images/bg-hero-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 6rem 0;
}

@media only screen and (min-width: 768px) {
  .hero {
    background-image: url("./images/bg-hero-desktop.svg");
  }
}

.hero__button {
  background-color: #ff52bf;
  padding: 18px 40px;
  color: #fff;
  border-radius: 50px;
  margin-top: 1rem;
  display: inline-block;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 15px;
}

.hero__button:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.feature {
  padding: 1rem 0;
  padding-left: 15px;
  padding-right: 15px;
}

.feature .container {
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
          box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
  padding: 2rem;
}

.feature__content {
  color: #808d99;
}

.feature__title {
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
}

footer {
  background-color: #00252e;
  padding: 8rem 0 2rem;
}

footer p,
footer a {
  color: #ebfbff;
}

footer a:hover {
  color: #ebfbff;
  text-decoration: none;
}

footer .copyright {
  margin: 0;
  padding: 1rem 0;
}

.footer__menu {
  list-style: none;
  padding: 0;
}

.cta__inner {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
          box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
  padding: 4rem 0;
  border-radius: 20px;
  text-align: center;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.cta__button {
  background-color: #ff52bf;
  color: #fff;
  padding: 12px 40px;
  margin-top: 2rem;
  display: inline-block;
  border-radius: 30px;
}

.cta__button:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}

.cta__title {
  padding: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .cta__button {
    padding: 18px 80px;
  }
  .cta__title {
    font-size: 1.75rem;
  }
}

.site__nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav__button {
  border-radius: 50px;
  padding: 12px 60px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
          box-shadow: 0px 0px 11px 0px rgba(156, 156, 156, 0.304);
  color: #00252e;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 15px;
}

.nav__button:hover {
  color: #00252e;
  text-decoration: none;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */